{{#models}}
{{#model}}
import { IsOptional, IsString, IsNumber, IsEmail, IsDate, Matches, Min, Max, MinLength, MaxLength } from 'class-validator';

export class {{classname}} { {{#vars}}
    {{#description}}/** {{{description}}} */{{/description}}
    {{#required}}@IsRequired(){{/required}}
    {{#isEmail}}@IsEmail(){{/isEmail}}
    {{#isDate}}@IsDate(){{/isDate}}
    {{#isDateTime}}@IsDate(){{/isDateTime}}
    {{#pattern}}@Matches(/{{pattern}}/){{/pattern}}
    {{#minimum}}@Min({{minimum}}){{/minimum}}
    {{#maximum}}@Max({{maximum}}){{/maximum}}
    {{#minLength}}@MinLength({{minLength}}){{/minLength}}
    {{#maxLength}}@MaxLength({{maxLength}}){{/maxLength}}
    {{#isOptional}}@IsOptional(){{/isOptional}}
    {{name}}: {{{dataType}}};{{/vars}}
}
{{#vars}}
{{#isEnum}}
export enum {{enumName}} { {{#allowableValues}}{{#values}}
    {{.}} = "{{.}}"{{^@last}},{{/@last}}{{/values}}{{/allowableValues}}
}
{{/isEnum}}
{{/vars}}
{{/model}}
{{/models}}